<div class="jumbotron">
    <h1>WEB API for BANANA AIRLINE</h1>
    <p class="lead">API áp dụng cho Đặt Vé Máy Bay của hãng Banana AirLine</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Tìm hiểu thêm &raquo;</a></p>
</div>
<div class="">
    <h3>Thành viên nhóm:</h3>
</div>
<div class="row">
    <div class="col-md-4" style="width: 25%">
        <h2>Huỳnh Chí Văn</h2>
        <p>Lớp: Phát triển ứng dụng web</p>
        <p>MSSV: 205051114</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Nguyễn Hoàng Long</h2>
        <p>Lớp: Phát triển ứng dụng web</p>
        <p>MSSV: 205051439</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Nguyễn Hoàng Khánh Tuấn</h2>
        <p>Lớp: Phát triển ứng dụng web</p>
        <p>MSSV: 205050920</p>
    </div>
    <div class="col-md-4" style="width: 25%">
        <h2>Trần Ngọc Thảo Vy</h2>
        <p>Lớp: Phát triển ứng dụng web</p>
        <p>MSSV: 205051850</p>
    </div>
  
</div>
